:root {
  --header-font: "Racing Sans One", cursive;
  --main-font: "Helvetica", sans-serif;
  --primary-colour: #19297c;
  --secondary-colour: #256eff;
  --secondary-colour-darken: #3ddc97;
}

body {
    font-family: var(--main-font);
    background: #fcfcfc;
    color: #444444;
}

h1 {
    font-family: var(--header-font);
    color: var(--primary-colour);
    margin-bottom: 1em;
}

a {
    color: var(--secondary-colour);
}

a:hover {
    color: var(--secondary-colour-darken);
}


.navbar-brand{
    font-family: var(--header-font);
    font-size: 30px;
}

.navbar{
  background-color: var(--primary-colour) !important;
 }


/* ul{
padding-left: 0;
list-style: none outside none;
}
ul li{
margin-bottom: 0.5em;
} */
