:root {
  --header-font: "Racing Sans One", cursive;
  --main-font: "Helvetica", sans-serif;
  --primary-colour: #dc0073;
  --secondary-colour: #345995;
  --secondary-colour-darken: #123773;
}

body {
    font-family: var(--main-font);
    font-size: 14pt;
    background-color: #fefefe;
    color: #504746;
}

h1 {
    font-family: var(--header-font);
    color: var(--primary-colour);
    margin-bottom: 1em;
}

a {
    color: var(--secondary-colour);
}

a:hover {
    color: var(--secondary-colour-darken);
}


.navbar-brand{
    font-family: var(--header-font);
    font-size: 30px;
}

.navbar{
  background-color: var(--primary-colour) !important;
 }

.avatar {
  border-radius: 50%;
  margin: 1em;
}

section{
    padding-bottom: 2em;
}

.offw{
    background-color:#F3F3F3;
}

.footer{
    background-color: var(--primary-colour);
    padding-bottom: 30px;
}


/* ul{
padding-left: 0;
list-style: none outside none;
}
ul li{
margin-bottom: 0.5em;
} */
