:root {
  --header-font: "Racing Sans One";
  --primary-colour: #00cc99;
  --secondary-colour: #aa1155;
  --secondary-colour-darken: #990044;
}

body {
    font-family: "Helvetica", sans-serif;
    color: #666666;
}

h1 {
    font-family: var(--header-font), cursive;
    color: var(--primary-colour);
}

a {
    color: var(--secondary-colour);
}

a:hover {
    color: var(--secondary-colour-darken);
    text-decoration: none;
}


.navbar-brand{
    font-family: var(--header-font), cursive;
    font-size: 30px;
}

.navbar{
  background-color: var(--primary-colour) !important;
  /*border-bottom: 2px solid #000000;*/
 }


/* ul{
padding-left: 0;
list-style: none outside none;
}
ul li{
margin-bottom: 0.5em;
} */
